APP_PORT=5000
FRONTEND_PORT=3000
FLASK_ENV=development
SECRET_KEY=change-this-secret

# MySQL administrado por este docker-compose
MYSQL_ROOT_PASSWORD=root123
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=gnucannabis_user
MYSQL_PASSWORD=gnucannabis_pass
MYSQL_DATABASE=gnucannabis

# Auth0
AUTH0_DOMAIN=tu-tenant.us.auth0.com
AUTH0_CLIENT_ID=tu_client_id
AUTH0_CLIENT_SECRET=tu_client_secret
AUTH0_SECRET=genera_con_openssl_rand_hex_64
AUTH0_REDIRECT_URI=http://localhost:5000/callback
FRONTEND_URL=http://localhost:3000
BACKEND_LOGIN_URL=http://localhost:5000/
AUTH0_AUDIENCE=https://gnucannabis-api
AUTH0_MGMT_AUDIENCE=https://tu-tenant.us.auth0.com/api/v2/
AUTH0_MGMT_CLIENT_ID=tu_m2m_client_id
AUTH0_MGMT_CLIENT_SECRET=tu_m2m_client_secret
AUTH0_DB_CONNECTION=Username-Password-Authentication
AUTH0_ALGORITHMS=RS256
